# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

##### Using 'or' in if statements

##### Using 'and' in if statements

##### Using both 'or' and 'and' in if statements

### String Manipulation

##### .lstrip()

In [5]:
# str.lstrip()
help(str.lstrip)

name = "   Autisn"
name.lstrip()

name.lstrip("A   ")

Help on method_descriptor:

lstrip(self, chars=None, /)
    Return a copy of the string with leading whitespace removed.

    If chars is given and not None, remove characters in chars instead.

'utisn'

##### .rstrip()

In [6]:
name = "   Pari   "
name.rstrip()

'   Pari'

##### .strip()

In [7]:
name = "  Jesus  "

In [9]:
name.strip()

'Jesus'

In [10]:
word = "racecar"
word.strip("r at")

'cec'

##### .title()

In [11]:
my_string = "i p freely"

In [12]:
my_string.title()

'I P Freely'

In [13]:
my_string.upper()

'I P FREELY'

In [14]:
my_string.lower()

'i p freely'

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [24]:
names = ["     coNNor", "max", " EVan ", "JORDAN"]
for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

### Working With Lists

##### min()

In [25]:
my_list = [88,56,234,4,44,6]
min(my_list)

4

##### max()

In [26]:
max(my_list)

234

##### sum()

In [28]:
sum(my_list, start=3)

435

##### sorted()

In [34]:
#built in funciton - works on any iterable
#return a copy of the array in sorted order --- Out of Place
print(sorted(my_list))
my_list = sorted(my_list)
print(my_list)

sorted("adheu")

[4, 6, 44, 56, 88, 234]
[4, 6, 44, 56, 88, 234]

['a', 'd', 'e', 'h', 'u']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [35]:
# method of a list class
my_list = [88,56,234,4,654,2,44,6]
print(my_list.sort())
print(my_list)

None
[2, 4, 6, 44, 56, 88, 234, 654]

In [36]:
4 == 7

False

##### Copying a List

In [39]:
#probably a bad idea
my_list1 = [1,2,3,4,5]


my_list2 = my_list1

my_list2.append(6)

print(my_list1)
print(my_list2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [40]:
#if you need to copy list but not change, use the slice to copy
my_list1 = [1,2,3,4,5]
my_list2 = my_list1[:]
my_list2.append(6)
print(my_list1)
print(my_list2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

##### 'in' keyword

In [42]:
#basically a for loop with a list
5 in [2,3,4,5,7] 
# is constant time operation in set
5 in {2,3,5,7}

True

##### 'not in' keyword

In [43]:
5 not in [2,3,7]

True

##### Checking an Empty List

In [45]:
my_list = []
if my_list == []:
    print("empty")
    
if len(my_list) == 0:
    print("empty")
    

if not my_list:
    print("empty")
    
#most common
if my_list:
    print("list full")

empty
empty
empty

##### Removing Instances with a Loop

In [49]:
names = ["Toan","Tim","Steve","McCall","Anu","Steve"]

while "Steve" in names:
    names.remove("Steve")
    print(names)
print(f"list at the end of the loop: {names}")

['Toan', 'Tim', 'McCall', 'Anu', 'Steve']
['Toan', 'Tim', 'McCall', 'Anu']
list at the end of the loop: ['Toan', 'Tim', 'McCall', 'Anu']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [56]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)
print(new_names)
        
# another

list(set(names))

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

[2, 3, 4, 'bob', 'evan', 'max', 'connor', 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [60]:
nums = []
for i in range(100):
    nums.append(i)
print(nums)

nums_comp = [i for i in range(100)
print(f"nums_comp \n{numbs_comp}")

IndentationError: unexpected indent (<ipython-input-60-e2f5b52b7bd0>, line 7)

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [61]:
nums = []
for i in range(100):
    nums.append(i**2)
print(nums)

nums_comp = [i**2 for i in range(100)]
print(f"nums_comp \n{nums_comp}")

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]
nums_comp
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [62]:
names = ["Mark","Eduardo","C-tina","Tate","Pari"]
first_char_comp = [name[0] for name in names]
print(first_char_comp)

['M', 'E', 'C', 'T', 'P']

In [63]:
# what if we need if statements??
four_l = []
for name in names:
    if len(name)==4:
        four_l.append(name)
print(four_l)

four_letter_names = [name for name in names if len(name)==4]
print(four_letter_names)

#ill add people whose len is not 5 
four_letter_names = [name if len(name)==4 else "Not 4" for name in names]
print(four_letter_names)

['Mark', 'Tate', 'Pari']
['Mark', 'Tate', 'Pari']
['Mark', 'Not 4', 'Not 4', 'Tate', 'Pari']

In [64]:
la = [1,2,3,4,5]
lb = ["a","b","c","d"]

let_num = []
for number in la:
    for letter in lb:
        let_num.append(str(number)+letter)
print(let_num)

['1a', '1b', '1c', '1d', '2a', '2b', '2c', '2d', '3a', '3b', '3c', '3d', '4a', '4b', '4c', '4d', '5a', '5b', '5c', '5d']

In [66]:
let_num_comp = [f'{number}{letter}' for number in la for letter in lb]
let_num_comp

['1a',
 '1b',
 '1c',
 '1d',
 '2a',
 '2b',
 '2c',
 '2d',
 '3a',
 '3b',
 '3c',
 '3d',
 '4a',
 '4b',
 '4c',
 '4d',
 '5a',
 '5b',
 '5c',
 '5d']

In [69]:
sentence = ["Today","is","the","day","gonna","back","you"]

letters = []
for word in sentence:
    for letter in word:
        letters.append(letter)
        
print(letters)

['T', 'o', 'd', 'a', 'y', 'i', 's', 't', 'h', 'e', 'd', 'a', 'y', 'g', 'o', 'n', 'n', 'a', 'b', 'a', 'c', 'k', 'y', 'o', 'u']

In [71]:
#exercise

#given a list use a list comp to give me the last letter of each word capitalized

names_list = ["steve","susan","jake","troy"]

[name[-1].upper() for name in names_list]

['E', 'N', 'E', 'Y']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [72]:
t = 1,2,3
print(t,type(t))
t_l = (1,2,3)

(1, 2, 3) <class 'tuple'>

In [73]:
my_tup = ("Tim","David","Mike")
my_tup[1]

'David'

In [74]:
my_tup.index("Mike")

2

In [75]:
my_tup[1]= "Jones ##nooo tuples are immutable"

TypeError: 'tuple' object does not support item assignment

##### sorted()

In [76]:
#get a list and not a tuple
sorted_tup = sorted(my_tup)
sorted_tup

['David', 'Mike', 'Tim']

##### Adding values to a Tuple

In [ ]:
#Reconstruct the tuple and add values

In [78]:
new_tup = (1,2,3,["A","B","C"])
new_tup[3][1]="D"
new_tup

(1, 2, 3, ['A', 'D', 'C'])

## Functions

##### User-Defined vs. Built-In Functions

In [79]:
#Built-in
# int, min, max, type, print, help, dir, abs, sorted
#User defined function

def say_hello():
    print("Hello, World!")
    
say_hello()

Hello, World!

##### Accepting Parameters

In [81]:
# Order matters
# A variable can be any type of object

def print_full_name(first_name, last_name):
    print(f"{first_name} {last_name}")
    
print_full_name("Kevin", "Beier")

Kevin Beier

##### Default Parameters

In [85]:
def print_agent_name(first, last="Bond"):
    print(f"Your agent name is {last}, {first} {last}")
          
print_agent_name("Kevin","Beier")

Your agent name is Beier, Kevin Beier

##### Making an Argument Optional

In [89]:
def make_name(first,middle="",last="Ed"):
    print(f"Hello {first} {middle} {last}")
make_name("Tim")
make_name("Tim","Keith")
make_name("Tim","Keith","Lipps")
#keyword arguments need to be last

Hello Tim  Ed
Hello Tim Keith Ed
Hello Tim Keith Lipps

In [93]:
#print just returns an image
#return impacts the funtcion - will adopt type of what it's acting on

def what_datatype():
    return "jersey mikes"

print(
    what_datatype().title() + " is overpriced"
)
print("Thanks")

Jersey Mikes is overpriced
Thanks

In [97]:
## Return exits the function!!!!

def return_stops():
    for i in range(10):
        print(i)
        if i == 3:
            return
return_stops()

0
1
2
3

In [ ]:
def dead_code(): # unreachable code
    print("Hello")
    return
    print("Goodbye") #<=== unreachable

##### Keyword Arguments

In [99]:
# see above
# *args and **kwargs

def my_func(name, *args): # *args needs to be at end of positional args but before keyword args
    print(name)
    for arg in args:
        print(arg)
        
my_func("Kevein",2,4,5,6,7,8)

Kevein
2
4
5
6
7
8

In [100]:
def my_func(name,**kwargs):
    for key in kwargs:
        print(key,kwargs[key])
my_func("Kevin", height=72, weight=120.4, foods=["pizza","tacos","dimsum","sushi"])

height 72
weight 120.4
foods ['pizza', 'tacos', 'dimsum', 'sushi']

In [104]:
my_dict = {"key":"value","name":"Kevin"}

def my_fun(key,name):
    print(key,name)
    
my_fun(**my_dict) # key = "value", name = "Kevin"

value Kevin

In [110]:
#Function should return the sum of all the numbers given to it.. do not use a List

def my_sum(*args): 
    return sum(args)
my_sum(1,2,3)

6

# Creating a start, stop, step function

In [114]:
def my_range(stop, start=0, step=1):
    for i in range(start,stop,step):
        print(i)
my_range(10,4,2)

4
6
8

##### Returning Values

In [115]:
def add_nums(num1, num2):
    return num1 + num2

print(add_nums(1,2))

3

##### *args

In [ ]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents

## see above

##### Docstring

In [ ]:
def my_function(name,age):
    """
    this
    is a
    string
    """
    return f"{name} is {age}"

##### Using a User Function in a Loop

In [116]:
def add_two(n):
    print(n+2)
    
while True:
    ask = int(input("What is your number? "))
    add_two(ask)
    response = input("ready to quit yet? ")
    if response.lower()=="quit":
        break

What is your number? 2
4
ready to quit yet? 10
What is your number? quit

ValueError: invalid literal for int() with base 10: 'quit'

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [120]:
first = ['John', 'Evan', 'Jordan', 'Max']
last = ['Smith', 'Smith', 'Williams', 'Bell']
##assume lists are same len

def add_names(first_names,last_names):
    full_names=[]
    for i in range(len(first_names)):
        full_names.append(first_names[i]+" "+last_names[i])
    return full_names

print(add_names(first,last))

## List comp

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [117]:
#placement of variable declaration matters
var1 = "A" #global scope

def my_function():
    print(var1)
    var2 = "B" #function or local scope
    print(var2)
    
my_function()
print(var2)

A
B

NameError: name 'var2' is not defined

In [118]:
for i in range(3): # i here has a global scope
    print(i)
    x = "Steve" # global scope #any variable in a for loop is global scope
    
i

0
1
2

2

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [137]:
# Use the following list - [1,11,14,5,8,9]

my_list = [1,11,14,5,8,9]

def less_than_ten(list):
    less_than_ten_list = []
    for i in list:
        if i < 11:
            less_than_ten_list.append(i)
    print(less_than_ten_list)
    
less_than_ten(my_list)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [150]:
list1 = [1,5,7,4,9]
list2 = [2,8,6,3]

def list_merge(first,second):
    for i in list2:
        list1.append(i)
    print(sorted(list1))       
        
list_merge(list1,list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]